---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import RelatedArticles from "@components/RelatedArticles.astro";
import TagsList from "@components/TagsList.astro";
import CallToAction from "@components/CallToAction.astro";
import Summary from '@components/Summary.astro';

type Props = CollectionEntry<"blog">["data"];
const posts = await getCollection('blog');

const {
  title,
  description,
  banner,
  author,
  authorlink,
  unsplashlink,
  isArticle,
  tags
} = Astro.props;

const post = posts.filter((e) => e.data.title === title)[0];

const base = import.meta.env.BASE_URL;
const site = import.meta.env.SITE;
const ogImage = site + base + banner;
console.log(post);
const headings = []; // Pour stocker les titres

function slugify(text) {
  return text
      .toString()
      .toLowerCase()
      .replace(/\s+/g, '-')           // Remplace les espaces par des tirets
      .replace(/[^\w\-]+/g, '')       // Supprime tous les caractères non-word
      .replace(/\-\-+/g, '-')         // Remplace les multiples tirets par un seul
      .replace(/^-+/, '')             // Supprime les tirets au début
      .replace(/-+$/, '');            // Supprime les tirets à la fin
}

// Utiliser un parser Markdown pour extraire les titres
  const contentWithHeadings = post.body.replace(/(#+)\s*(.*)/g, (match, hash, title) => {
    const level = hash.length; // Niveau du titre
    const id = slugify(title);
    headings.push({ id, text: title }); // Ajouter à la liste des titres
    return `<h${level} id="${id}">${title}</h${level}>`; // Remplacer par le titre avec ID
  });
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <meta property="og:image" content={ogImage} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
  </head>

  <body>
    <Header />
    <Summary headings={headings} title={title}/>
    <main class="w-[calc(100%-2em)] max-w-full m-0">
      <article>
        <div class="relative w-full max-w-4xl mx-auto">
          <img src={ base + banner } class="w-full h-auto object-cover">
          <div class="absolute bottom-0 right-0 bg-slate-900 bg-opacity-50 w-full rounded-b-lg">
            <p class="text-white text-sm py-2 px-4 text-right mb-0">© <a href={unsplashlink} class="no-underline text-white hover:text-white">{author}</a> via <a class="no-underline text-white hover:text-white" href={authorlink}>Unsplash</a></p>
          </div>
        </div>
        <div class="w-[900px] max-w-[calc(100%-2em)] mx-auto p-4 text-gray-800">
          <div class="mb-4 py-4 text-center leading-none">
            <h1 class="-mb-0.5">{title}</h1>
            <hr />
          </div>
          {isArticle && <TagsList tags={tags} context="post" />}
          <slot />
          {isArticle && (
              <section>
            <CallToAction />
          </section>)}
          {
            isArticle && (
              <>
                <section>
                  <RelatedArticles tags={tags} title={title} />
                </section>
              </>
            )
          }
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
